## Second Data Wrangling and Pre-processing
In the first notebook, we removed all of the data that could be revealing of an individual purchaser. <br>
In this notebook, we'll eliminate some unnecessary columns and create some more important feature columns that we can then look at in more detail in the Exploratory Data Analysis.

## Goal: Eliminate unnecessary columns, create some obvious features, minimize Nan values, and separate into Items, Orders, and Customers

In [86]:
import os
import pandas as pd
import numpy as np
import datetime
import pickle

In [87]:
# change to the path with the raw csv file data
os.chdir("C:\Springboard\Github\Capstone2_cust\Intermediate_Data")
# load the pickled version of the 
df = pickle.load(open("cust_pub3.pkl", "rb"))
# look at the first 10 rows of this file
df.head(10)

,Name,Financial Status,Paid at,Fulfillment Status,Fulfilled at,Accepts Marketing,Currency,Subtotal,Shipping,Taxes,...,Tax 3 Name,Tax 3 Value,Tax 4 Name,Tax 4 Value,Tax 5 Name,Tax 5 Value,Receipt Number,Server,ship_bill,Cust_ID
0,#64088,paid,2020-09-12 05:49:40 -0700,unfulfilled,NaN,no,USD,25.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gmail.com,True,2.779653e+12
1,#64087,paid,2020-09-12 05:36:26 -0700,unfulfilled,NaN,no,USD,90.68,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gmail.com,True,2.779539e+12
2,#64087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gmail.com,False,2.779539e+12
3,#64087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gmail.com,False,2.779539e+12
4,#64086,paid,2020-09-12 05:28:27 -0700,unfulfilled,NaN,yes,USD,54.97,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gmail.com,True,2.779470e+12
5,#64086,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gmail.com,False,2.779470e+12
6,#64085,paid,2020-09-12 05:26:56 -0700,unfulfilled,NaN,no,USD,54.97,5.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gmail.com,True,2.779457e+12
7,#64085,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gmail.com,False,2.779457e+12
8,#64084,paid,2020-09-12 05:07:11 -0700,unfulfilled,NaN,no,USD,24.98,3.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gmail.com,True,2.779303e+12
9,#64084,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gmail.com,False,2.779303e+12

In [88]:
# let's drop all of the tax columns from this DF
df.drop(['Tax 1 Name', 'Tax 1 Value', 'Tax 2 Name', 'Tax 2 Value', 'Tax 3 Name', 'Tax 3 Value', 'Tax 4 Name', 'Tax 4 Value',
       'Tax 5 Name', 'Tax 5 Value'], axis=1, inplace=True)

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142224 entries, 0 to 142223
Data columns (total 43 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Name                         142224 non-null  object
 1   Financial Status             63084 non-null   object
 2   Paid at                      61027 non-null   object
 3   Fulfillment Status           63084 non-null   object
 4   Fulfilled at                 62270 non-null   object
 5   Accepts Marketing            63084 non-null   object
 6   Currency                     63084 non-null   object
 7   Subtotal                     63084 non-null   float64
 8   Shipping                     63084 non-null   float64
 9   Taxes                        63084 non-null   float64
 10  Total                        63084 non-null   float64
 11  Discount Code                7212 non-null    object
 12  Discount Amount              63084 non-null   float64
 13  Shipping Method              62285 non-null   object
 14  Created at                   142224 non-null  object
 15  Lineitem quantity            142224 non-null  int64
 16  Lineitem name                142224 non-null  object
 17  Lineitem price               142224 non-null  float64
 18  Lineitem compare at price    23289 non-null   float64
 19  Lineitem sku                 136664 non-null  object
 20  Lineitem requires shipping   142224 non-null  bool
 21  Lineitem taxable             142224 non-null  bool
 22  Lineitem fulfillment status  142224 non-null  object
 23  Notes                        932 non-null     object
 24  Note Attributes              801 non-null     object
 25  Cancelled at                 308 non-null     object
 26  Payment Method               59681 non-null   object
 27  Payment Reference            61651 non-null   object
 28  Refunded Amount              63084 non-null   float64
 29  Vendor                       142204 non-null  float64
 30  Outstanding Balance          63084 non-null   float64
 31  Employee                     142224 non-null  bool
 32  Location                     23 non-null      object
 33  Device ID                    0 non-null       float64
 34  Id                           63084 non-null   float64
 35  Tags                         11266 non-null   object
 36  Risk Level                   63084 non-null   object
 37  Source                       63084 non-null   object
 38  Lineitem discount            142224 non-null  float64
 39  Receipt Number               0 non-null       float64
 40  Server                       142224 non-null  object
 41  ship_bill                    142224 non-null  bool
 42  Cust_ID                      142224 non-null  float64
dtypes: bool(4), float64(15), int64(1), object(23)
memory usage: 42.9+ MB

In [90]:
# we noticed from the first 10 rows that some of these values aren't filled. Let's use forward fill since that is the same order
df['Paid at'].fillna(method='ffill', inplace=True, limit=None)

In [91]:
# we need to convert the "Paid at" column into datetime
df['Paid at'] = pd.to_datetime(df['Paid at'], infer_datetime_format=True)

In [92]:
df.head(10)

,Name,Financial Status,Paid at,Fulfillment Status,Fulfilled at,Accepts Marketing,Currency,Subtotal,Shipping,Taxes,...,Device ID,Id,Tags,Risk Level,Source,Lineitem discount,Receipt Number,Server,ship_bill,Cust_ID
0,#64088,paid,2020-09-12 05:49:40-07:00,unfulfilled,NaN,no,USD,25.00,0.0,0.0,...,NaN,2.779653e+12,NaN,Low,web,0.0,NaN,gmail.com,True,2.779653e+12
1,#64087,paid,2020-09-12 05:36:26-07:00,unfulfilled,NaN,no,USD,90.68,0.0,0.0,...,NaN,2.779539e+12,NaN,Low,web,0.0,NaN,gmail.com,True,2.779539e+12
2,#64087,NaN,2020-09-12 05:36:26-07:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,gmail.com,False,2.779539e+12
3,#64087,NaN,2020-09-12 05:36:26-07:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,gmail.com,False,2.779539e+12
4,#64086,paid,2020-09-12 05:28:27-07:00,unfulfilled,NaN,yes,USD,54.97,0.0,0.0,...,NaN,2.779470e+12,NaN,Low,web,0.0,NaN,gmail.com,True,2.779470e+12
5,#64086,NaN,2020-09-12 05:28:27-07:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,gmail.com,False,2.779470e+12
6,#64085,paid,2020-09-12 05:26:56-07:00,unfulfilled,NaN,no,USD,54.97,5.0,0.0,...,NaN,2.779457e+12,NaN,Low,web,0.0,NaN,gmail.com,True,2.779457e+12
7,#64085,NaN,2020-09-12 05:26:56-07:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,gmail.com,False,2.779457e+12
8,#64084,paid,2020-09-12 05:07:11-07:00,unfulfilled,NaN,no,USD,24.98,3.0,0.0,...,NaN,2.779303e+12,NaN,Low,web,0.0,NaN,gmail.com,True,2.779303e+12
9,#64084,NaN,2020-09-12 05:07:11-07:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,gmail.com,False,2.779303e+12

In [93]:
# let's drop some more useless columns
df.drop(['Taxes', 'Notes', 'Note Attributes',
       'Cancelled at'], axis=1, inplace=True)

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142224 entries, 0 to 142223
Data columns (total 39 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Name                         142224 non-null  object
 1   Financial Status             63084 non-null   object
 2   Paid at                      142224 non-null  object
 3   Fulfillment Status           63084 non-null   object
 4   Fulfilled at                 62270 non-null   object
 5   Accepts Marketing            63084 non-null   object
 6   Currency                     63084 non-null   object
 7   Subtotal                     63084 non-null   float64
 8   Shipping                     63084 non-null   float64
 9   Total                        63084 non-null   float64
 10  Discount Code                7212 non-null    object
 11  Discount Amount              63084 non-null   float64
 12  Shipping Method              62285 non-null   object
 13  Created at                   142224 non-null  object
 14  Lineitem quantity            142224 non-null  int64
 15  Lineitem name                142224 non-null  object
 16  Lineitem price               142224 non-null  float64
 17  Lineitem compare at price    23289 non-null   float64
 18  Lineitem sku                 136664 non-null  object
 19  Lineitem requires shipping   142224 non-null  bool
 20  Lineitem taxable             142224 non-null  bool
 21  Lineitem fulfillment status  142224 non-null  object
 22  Payment Method               59681 non-null   object
 23  Payment Reference            61651 non-null   object
 24  Refunded Amount              63084 non-null   float64
 25  Vendor                       142204 non-null  float64
 26  Outstanding Balance          63084 non-null   float64
 27  Employee                     142224 non-null  bool
 28  Location                     23 non-null      object
 29  Device ID                    0 non-null       float64
 30  Id                           63084 non-null   float64
 31  Tags                         11266 non-null   object
 32  Risk Level                   63084 non-null   object
 33  Source                       63084 non-null   object
 34  Lineitem discount            142224 non-null  float64
 35  Receipt Number               0 non-null       float64
 36  Server                       142224 non-null  object
 37  ship_bill                    142224 non-null  bool
 38  Cust_ID                      142224 non-null  float64
dtypes: bool(4), float64(14), int64(1), object(20)
memory usage: 38.5+ MB

In [95]:
# Reciept Number is empty - drop that
# Fullfilled at is missing a lot of values - we are using 'Paid at '
# remove a few more columns that are too sparse to be useful in modeling
df.drop(['Fulfilled at', 'Receipt Number', 'Location', 'Device ID', 'Id', 'Risk Level'], axis=1, inplace=True)

In [96]:
# Let's see what currencies are used
df['Currency'].value_counts()

USD    63084
Name: Currency, dtype: int64

In [97]:
# it's just USD ($) or NaN. Not worth keeping that column
df.drop(['Currency'], axis=1, inplace=True)

In [98]:
# let's look at Paid at vs. Created at
df[['Paid at', 'Created at']].sample(10)

                          Paid at                 Created at
42524   2020-06-05 18:54:05-07:00  2020-06-05 18:54:04 -0700
31277   2020-07-01 11:15:19-07:00  2020-07-01 11:15:18 -0700
2441    2020-09-03 09:39:06-07:00  2020-09-03 09:39:05 -0700
92113   2020-01-20 12:50:56-08:00  2020-01-20 12:50:56 -0800
97049   2020-01-07 23:16:02-08:00  2020-01-07 23:16:00 -0800
73091   2020-03-25 15:19:03-07:00  2020-03-25 15:19:02 -0700
18392   2020-07-31 04:12:17-07:00  2020-07-31 04:12:16 -0700
35968   2020-06-19 13:53:53-07:00  2020-06-19 13:53:52 -0700
114395  2019-11-21 16:28:48-08:00  2019-11-21 16:28:47 -0800
50413   2020-05-20 12:56:10-07:00  2020-05-20 12:56:10 -0700

Those looks to be identical except for a 1-2 second lag for the payment. I'm good with dropping the paid at column

In [99]:
df.drop(['Paid at'], axis=1, inplace=True)

In [100]:
# since we are using 'Created at' as the time stamp, let's convert it to date time
# we need to convert the "Paid at" column into datetime
df['Created at'] = pd.to_datetime(df['Created at'], infer_datetime_format=True, utc=True)

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142224 entries, 0 to 142223
Data columns (total 31 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Name                         142224 non-null  object
 1   Financial Status             63084 non-null   object
 2   Fulfillment Status           63084 non-null   object
 3   Accepts Marketing            63084 non-null   object
 4   Subtotal                     63084 non-null   float64
 5   Shipping                     63084 non-null   float64
 6   Total                        63084 non-null   float64
 7   Discount Code                7212 non-null    object
 8   Discount Amount              63084 non-null   float64
 9   Shipping Method              62285 non-null   object
 10  Created at                   142224 non-null  datetime64[ns, UTC]
 11  Lineitem quantity            142224 non-null  int64
 12  Lineitem name                142224 non-null  object
 13  Lineitem price               142224 non-null  float64
 14  Lineitem compare at price    23289 non-null   float64
 15  Lineitem sku                 136664 non-null  object
 16  Lineitem requires shipping   142224 non-null  bool
 17  Lineitem taxable             142224 non-null  bool
 18  Lineitem fulfillment status  142224 non-null  object
 19  Payment Method               59681 non-null   object
 20  Payment Reference            61651 non-null   object
 21  Refunded Amount              63084 non-null   float64
 22  Vendor                       142204 non-null  float64
 23  Outstanding Balance          63084 non-null   float64
 24  Employee                     142224 non-null  bool
 25  Tags                         11266 non-null   object
 26  Source                       63084 non-null   object
 27  Lineitem discount            142224 non-null  float64
 28  Server                       142224 non-null  object
 29  ship_bill                    142224 non-null  bool
 30  Cust_ID                      142224 non-null  float64
dtypes: bool(4), datetime64[ns, UTC](1), float64(11), int64(1), object(14)
memory usage: 29.8+ MB

### These look pretty good. Now, it's time to start filling in some of the NaN values

In [102]:
# For financial status
df['Financial Status'].value_counts()

paid                  61766
refunded                690
partially_refunded      616
partially_paid            7
pending                   5
Name: Financial Status, dtype: int64

In [103]:
# it looks like the first line of an order has that Financial Status; we'll forward fill
df['Financial Status'].fillna(method='ffill', inplace=True, limit=25)

In [104]:
# same applies for Fulfillment Status
df['Fulfillment Status'].fillna(method='ffill', inplace=True, limit=25)

In [105]:
# same is true for Accepts Marketing
df['Accepts Marketing'].fillna(method='ffill', inplace=True, limit=25)

In [106]:
df['Tags'].value_counts()

Subscription, Subscription Recurring Order                                                                                     1113
Subscription, Subscription First Order                                                                                          896
recurring_order                                                                                                                 480
0-3DB542442Y809192H, carthook-checkout, ch_FID_carthook-checkout, ch_id_0htFEtCty4bxpLxlrrqK                                      3
0-100137263438, CartHook Checkout, carthook-skinquiz-minikits, ch_FID_carthook-skinquiz-minikit, ch_id_H7WWZqswDx8D5DW9jH9d       3
                                                                                                                               ...
0-17A85825SW0119916, carthook-checkout, ch_FID_carthook-checkout, ch_id_gSZFKoS417bJStT8Gssc                                      1
0-9KF295619G013161G, carthook-checkout, ch_FID_carthook-checkout, ch_id_bbhXe7az5OrJBhfVkpZw                                      1
0-6ET005511E4913812, carthook-checkout, ch_FID_carthook-checkout, ch_id_Go7hVGi1irQeBfOXG7JS                                      1
0-100137622249, CartHook Checkout, carthook-skinquiz-minikits, ch_FID_carthook-skinquiz-minikit, ch_id_cyyjTxaolTiBOeb2grgD       1
0-100136030461, CartHook Checkout, carthook-skinquiz-minikits, ch_FID_carthook-skinquiz-minikit, ch_id_DFUq43iGzOHMH7Jqi4dT       1
Name: Tags, Length: 8657, dtype: int64

In [107]:
# these look unnecessarily complicated, so we'll drop
df.drop(['Tags'], axis=1, inplace=True)

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142224 entries, 0 to 142223
Data columns (total 30 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Name                         142224 non-null  object
 1   Financial Status             142217 non-null  object
 2   Fulfillment Status           142217 non-null  object
 3   Accepts Marketing            142217 non-null  object
 4   Subtotal                     63084 non-null   float64
 5   Shipping                     63084 non-null   float64
 6   Total                        63084 non-null   float64
 7   Discount Code                7212 non-null    object
 8   Discount Amount              63084 non-null   float64
 9   Shipping Method              62285 non-null   object
 10  Created at                   142224 non-null  datetime64[ns, UTC]
 11  Lineitem quantity            142224 non-null  int64
 12  Lineitem name                142224 non-null  object
 13  Lineitem price               142224 non-null  float64
 14  Lineitem compare at price    23289 non-null   float64
 15  Lineitem sku                 136664 non-null  object
 16  Lineitem requires shipping   142224 non-null  bool
 17  Lineitem taxable             142224 non-null  bool
 18  Lineitem fulfillment status  142224 non-null  object
 19  Payment Method               59681 non-null   object
 20  Payment Reference            61651 non-null   object
 21  Refunded Amount              63084 non-null   float64
 22  Vendor                       142204 non-null  float64
 23  Outstanding Balance          63084 non-null   float64
 24  Employee                     142224 non-null  bool
 25  Source                       63084 non-null   object
 26  Lineitem discount            142224 non-null  float64
 27  Server                       142224 non-null  object
 28  ship_bill                    142224 non-null  bool
 29  Cust_ID                      142224 non-null  float64
dtypes: bool(4), datetime64[ns, UTC](1), float64(11), int64(1), object(13)
memory usage: 28.8+ MB

In [109]:
# let's look at Payment Reference
df['Payment Reference'].value_counts()

c12047268741177.1    1
#54614.1             1
#59270.1             1
#56142.1             1
c14227404521640.1    1
                    ..
#58255.1             1
c11835502723129.1    1
c11999264473145.1    1
c14430360207528.1    1
c11994906853433.1    1
Name: Payment Reference, Length: 61651, dtype: int64

In [110]:
# let's drop it
df.drop(['Payment Reference'], axis=1, inplace=True)

In [111]:
# let's create one more feature that would be usable: total items in an order
df['ITEMS'] = df.groupby('Name')['Lineitem quantity'].transform('sum')

In [112]:
df['ITEMS'].unique()

array([  1,   3,   2,   5,   4,   6,  10,   7,   8,  11,  12,   9,  14,
        22,  15,  80,  20,  40,  19,  18,  30,  50,  52,  45,  33,  16,
        13, 100,  25,  35,  26,  21,  17], dtype=int64)

In [113]:
# see how many unique "names" are in the DF
df['Name'].value_counts()

#5957     33
#60457    22
#34086    20
#25140    19
#10488    16
          ..
#38866     1
#10925     1
#63638     1
#23742     1
#46976     1
Name: Name, Length: 63084, dtype: int64

This looks like the same number of "subtotal" and some other fields that are order specific.

In [114]:
# let see if we can use the compare at price relative to the lineitem price as another feature
df['compared'] = (df['Lineitem compare at price'] - df['Lineitem price'])/df['Lineitem price']
# positive values mean the line item price is cheaper
# this relative price is more important than the absolute

In [115]:
# let's convert this to a difference in price
df['Lineitem compare at price'] = df['Lineitem compare at price'] - df['Lineitem price']

### Separate the Dataframe <br>
Right now, the items and the orders are each lines in the DataFrame; we are going to separate out the orders and items in the order into 2 separate dataframes:
### 1. Order - contains the order information
### 2. Items - line by line items contained in an order
### 3. Customers - contains the sum of the orders and items

In [131]:
# create Order DF by taking the first line of a name
Order = df.groupby('Name').first()

# or I could do it groupby Name and then take the value that has a subtotal that is not null

In [132]:
Order.info()

<class 'pandas.core.frame.DataFrame'>
Index: 63084 entries, #10000 to #9999
Data columns (total 30 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Financial Status             63084 non-null  object
 1   Fulfillment Status           63084 non-null  object
 2   Accepts Marketing            63084 non-null  object
 3   Subtotal                     63084 non-null  float64
 4   Shipping                     63084 non-null  float64
 5   Total                        63084 non-null  float64
 6   Discount Code                7212 non-null   object
 7   Discount Amount              63084 non-null  float64
 8   Shipping Method              62285 non-null  object
 9   Created at                   63084 non-null  datetime64[ns, UTC]
 10  Lineitem quantity            63084 non-null  int64
 11  Lineitem name                63084 non-null  object
 12  Lineitem price               63084 non-null  float64
 13  Lineitem compare at price    20733 non-null  float64
 14  Lineitem sku                 61034 non-null  object
 15  Lineitem requires shipping   63084 non-null  bool
 16  Lineitem taxable             63084 non-null  bool
 17  Lineitem fulfillment status  63084 non-null  object
 18  Payment Method               59681 non-null  object
 19  Refunded Amount              63084 non-null  float64
 20  Vendor                       63068 non-null  float64
 21  Outstanding Balance          63084 non-null  float64
 22  Employee                     63084 non-null  bool
 23  Source                       63084 non-null  object
 24  Lineitem discount            63084 non-null  float64
 25  Server                       63084 non-null  object
 26  ship_bill                    63084 non-null  bool
 27  Cust_ID                      63084 non-null  float64
 28  ITEMS                        63084 non-null  int64
 29  compared                     20733 non-null  float64
dtypes: bool(4), datetime64[ns, UTC](1), float64(12), int64(2), object(11)
memory usage: 13.2+ MB

In [133]:
# let's look at discount codes
Order['Discount Code'].value_counts()

BAMBUBEAUTY            1404
THANKYOU10              664
save10                  559
Custom discount         274
CARACLARKNUTRITION      221
                       ...
Seeding Erika Anne        1
1c780f2526cf              1
$10OFF-bc9334a84150       1
WEMISSYOU                 1
RealSavingsc9e838f9       1
Name: Discount Code, Length: 920, dtype: int64

The most popular discount codes are used largely enough that they could provide some value, but the largest code is used on 2% of all orders; discount codes are used on 11% of orders. I think it's best to just consider the discount amount to start and that's already contained in another column, so we'll drop this column.

In [134]:
Order.drop(['Discount Code'], axis=1, inplace=True)

In [135]:
# for orders, it shouldn't matter if that particular items is taxable, so we'll drop that or the fulfillment status
Order.drop(['Lineitem taxable', 'Lineitem fulfillment status'], axis=1, inplace=True)

In [136]:
Order.info()

<class 'pandas.core.frame.DataFrame'>
Index: 63084 entries, #10000 to #9999
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Financial Status            63084 non-null  object
 1   Fulfillment Status          63084 non-null  object
 2   Accepts Marketing           63084 non-null  object
 3   Subtotal                    63084 non-null  float64
 4   Shipping                    63084 non-null  float64
 5   Total                       63084 non-null  float64
 6   Discount Amount             63084 non-null  float64
 7   Shipping Method             62285 non-null  object
 8   Created at                  63084 non-null  datetime64[ns, UTC]
 9   Lineitem quantity           63084 non-null  int64
 10  Lineitem name               63084 non-null  object
 11  Lineitem price              63084 non-null  float64
 12  Lineitem compare at price   20733 non-null  float64
 13  Lineitem sku                61034 non-null  object
 14  Lineitem requires shipping  63084 non-null  bool
 15  Payment Method              59681 non-null  object
 16  Refunded Amount             63084 non-null  float64
 17  Vendor                      63068 non-null  float64
 18  Outstanding Balance         63084 non-null  float64
 19  Employee                    63084 non-null  bool
 20  Source                      63084 non-null  object
 21  Lineitem discount           63084 non-null  float64
 22  Server                      63084 non-null  object
 23  ship_bill                   63084 non-null  bool
 24  Cust_ID                     63084 non-null  float64
 25  ITEMS                       63084 non-null  int64
 26  compared                    20733 non-null  float64
dtypes: bool(3), datetime64[ns, UTC](1), float64(12), int64(2), object(9)
memory usage: 12.2+ MB

In [137]:
# let's fill the payment method with "unknown for the missing values"
Order['Payment Method'].fillna(value='Unknown', inplace=True)

In [138]:
# let's look at Line item requires shipping
Order['Lineitem requires shipping'].value_counts()

True     33591
False    29493
Name: Lineitem requires shipping, dtype: int64

That seems reasonable enough; let's keep that

In [139]:
# let's drop some more unnecessary info; line item name should be covered in the sku
Order['Lineitem sku'].fillna(value=Order['Lineitem name'], inplace=True)
Order.drop(['Lineitem name'], axis=1, inplace=True)

In [140]:
Order.info()

<class 'pandas.core.frame.DataFrame'>
Index: 63084 entries, #10000 to #9999
Data columns (total 26 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Financial Status            63084 non-null  object
 1   Fulfillment Status          63084 non-null  object
 2   Accepts Marketing           63084 non-null  object
 3   Subtotal                    63084 non-null  float64
 4   Shipping                    63084 non-null  float64
 5   Total                       63084 non-null  float64
 6   Discount Amount             63084 non-null  float64
 7   Shipping Method             62285 non-null  object
 8   Created at                  63084 non-null  datetime64[ns, UTC]
 9   Lineitem quantity           63084 non-null  int64
 10  Lineitem price              63084 non-null  float64
 11  Lineitem compare at price   20733 non-null  float64
 12  Lineitem sku                63084 non-null  object
 13  Lineitem requires shipping  63084 non-null  bool
 14  Payment Method              63084 non-null  object
 15  Refunded Amount             63084 non-null  float64
 16  Vendor                      63068 non-null  float64
 17  Outstanding Balance         63084 non-null  float64
 18  Employee                    63084 non-null  bool
 19  Source                      63084 non-null  object
 20  Lineitem discount           63084 non-null  float64
 21  Server                      63084 non-null  object
 22  ship_bill                   63084 non-null  bool
 23  Cust_ID                     63084 non-null  float64
 24  ITEMS                       63084 non-null  int64
 25  compared                    20733 non-null  float64
dtypes: bool(3), datetime64[ns, UTC](1), float64(12), int64(2), object(8)
memory usage: 11.7+ MB

In [141]:
# let's find out how this shipping method looks
Order['Shipping Method'].value_counts()

Standard Shipping (5-7 Business Days)             20338
USPS First Class Package (5-7 Business Days)      14909
USPS First Class Package (2-5 Business Days)       7680
Free Shipping (5-8 Business Days)                  6902
Priority Mail                                      2349
Fedex 2Day (2-3 Business Days)                     1124
First Class Package                                 925
Flat Rate Shipping                                  818
Standard Shipping (5-8 Business Days)               781
USPS Priority Mail (1-3 Business Days)              772
Free shipping                                       742
Standard Shipping (free)                            696
Priority Mail (2-4 Business Days)                   569
UPS® Ground                                         539
USPS First Class International                      503
Always Free Shipping                                480
Free shipping for orders over $99                   463
USPS First Class                                    216
2-3 Day Priority Mail (USPS)                        178
Free Shipping (5-7 Business Days)                   172
USPS First Class International Package              162
Fedex Ground (2-5 Business Days)                    139
USPS                                                102
USPS Priority Mail                                   77
First Class Package International                    77
Free shipping on orders $75+                         77
Pick up at our location in Mission Viejo, CA         73
Free Standard Shipping on Orders of $75+             68
UPS 2nd Day Air®                                     63
Priority Mail Express                                48
Pick up at our Trabuco Canyon, CA location           46
Free Shipping on Orders of $75+                      36
USPS Priority Mail (3-5 Business Days)               27
USPS Priority Mail Express (1-2 Business Days)       17
Pick Up in Havelock, NC                              12
UPS 2nd Day Air (2-3 Business Days)                  12
Free local pick up                                   11
International                                        10
Priority Mail Express International                  10
Free shipping for orders over $49                    10
Priority Mail International                           8
UPS Ground (2-6 Business Days)                        8
Standard International                                8
Rush Shipping                                         6
FREE SHIPPING today only!                             5
Pick Up (Long Beach, CA)                              4
Digital Free                                          3
Shipping invoiced at time of shipment                 2
Aus. Shipping                                         1
Shipping charges invoiced at time of shipment         1
Canada Post                                           1
Custom                                                1
Flat Rate                                             1
Large Flat Rate Box                                   1
Shipping                                              1
Shipping not required                                 1
Name: Shipping Method, dtype: int64

In [142]:
# let's fill that shipping method with unknown - Shipping Method
Order['Shipping Method'].fillna(value='Unknown', inplace=True)

### I think that wraps it up for the Order DF

### On to the Items DF that contains all of the line items in the orders

In [ ]:
# every row in the dataframe represents a line item, so we'll keep them in 
Items = df1.copy()

### That takes care of the Items DF

### Still have to work on the Customer DF